.boxicon {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: var(--lightgray);
    border-radius: 4px;
    width: auto;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}
.boxicon__antenna {
    margin: 0, auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.boxicon__clock {
    display: flex;
    align-items: center;
}

.boxicon__diagram {
    display: flex;
    align-items: center;
}

.boxicon__astronaut {
    display: flex;
    align-items: center;
}

/*
@media screen and (min-width: 1200px) {
    .boxicon {
        justify-content: space-between;
        display: flex;
        align-items: center;
        background-color: var(--lightgray);
        border-radius: 4px;
        width: 270px;
        height: 120px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 30px;
    }
    }
    */