.footer {
  display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bacground);
    width: auto;
    height: 603px;
    margin: 0px;
    
    padding:0px;
    @media screen and (min-width: 768px) {
      height: 463px
    }
    @media screen and (min-width: 1200px) {
      height: 252px
    }
    
    
  }
  .footer__bacground {
    display: flex;
    align-items: center;
    margin: auto;
    flex-flow: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 76px;
      
    }
    @media screen and (min-width: 1200px) {
      
      padding: 0 15px;
      justify-content: space-between;
      
    }

  }

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    @media screen and (min-width: 1200px) {
      display:grid;
    }
  }
  .footer__logo-first {
    color: var(--blue);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
  
  .footer__logo-next {
    color: var(--white);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }









/*
@media screen and (min-width: 1200px) {
.footer {
    background-color: var(--bacground);
    width: auto;
    height: auto;
    padding: 60px;
  }
  
  .footer__bacground {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  
  .footer__container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-flow: column;
  }
  
  .footer__logo-first {
    color: var(--blue);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
  
  .footer__logo-next {
    color: var(--white);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
}
*/