.mail__address {
    color: var(--gray);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
  
    &:hover {
      color: var(--blue);
      --color3:var(--blue);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .mail__envelope {
    display: flex;
    align-items: center;
    margin-right: 10px;
  
    &:hover {
      --color3:var(--blue);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }