.newsletter {
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.03em;
    padding: 0;
    margin-top: -55px;
    margin-right: 12px;
  }
  
  .newsletter__fieldset-footer {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 0px;
    padding: 0;
    cursor: pointer;
  }
  
  .newsletter__input-footer {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: var(--white);
    margin-left: 16px;
  
    &:focus {
      outline: none;
    }
  }
  
  .newsletter__fieldset-footer {
    &:has(input:focus) {
      border-color: var(--blue);
    }
  
    &:hover {
      border-color: var(--blue);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }