.personal-bacgraund {
  background-color: var(--lightgray);
  width: auto;
  height: 2761px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding: 0px 15px 0px 15px;
  
}
.personal {
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal__list {
  justify-content: space-between;
  display: flex;
 flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 0px;
}






/*
@media screen and (min-width: 1200px) {
.personal-bacgraund {
    background-color: var(--lightgray);
    padding: 94px;
    width: auto;
    height: 460px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px){
  .personal {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
  @media screen and (min-width: 1200px) {
  .personal__list {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
  }
}
*/