.portfolio-section {
        align-items: center;
        display: flex;
        padding: 0, 15px;
        justify-content: center;
        margin: 0, auto;
        margin-bottom: 30px;
    }




    .portfolio-section__container{
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }
    .portfolio-section__list-4 {
        justify-content:s center;
  display: flex;
 flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: auto;
  list-style-type: none;
  margin-top: 0px;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            display: flex;
            padding: 0px 15px 0px 15px;
            justify-content:space-between;
            
        }
        @media screen and (min-width: 1200px) {
            justify-content: center;
            max-width: 1200px;
        }

    }
    

/*
@media screen and (min-width: 1200px) {
.portfolio-section__container {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 94px;
}
.portfolio-section__list-4 {
    list-style-type: none;
    max-width: 1200px;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
}
*/