.section-banner {
    margin: 0, auto;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2F303A66;
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 50px 50px 50px 50px rgb(47, 48, 58, 0.4), inset 480px 400px 50px 50px rgb(47, 48, 58, 0.4);
    justify-content: center;
    background-image: url("../images/header-mobilex1.jpg");

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .section-banner {
    background-image: url("../images/header-mobile@2.jpg");
  }
  }
  @media screen and (min-width: 768px) {
 background-image: url("../images/Headertablet.jpg");
  }
    @media screen and (min-device-pixel-ratio: 2),
     screen and (min-resolution: 192dpi),
     screen and (min-resolution: 2dppx) {
     .section-banner {
       background-image: url("../images/Headertablet@2x.jpg");
     }
}
@media screen and (min-width: 1200px) {
  background-image: url("../images/desktop.jpg");
  height: 600px;
   }
     @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .section-banner {
        background-image: url("../images/desktop@2x.jpg");
      }
 }
}


    .section-banner__heading {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .section-banner__title-banner {
      color: var(--white);
      font-size: 26px;
      font-weight: 900;
      width: 365px;
      letter-spacing: 0.06em;
      text-align: center;
      display: flex;
      margin: 0px;
      margin-bottom: 30px;
      @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 696px;
      }
      @media screen and (max-width: 450px) {
        width: auto;
       }
      }