.section-banner {
    margin: 0, auto;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2F303A66;
    background-image: url("../images/header-mobilex1.jpg");
  
    object-fit: cover;
    background-size: 100% 100%;
    box-shadow: inset 50px 50px 50px 50px rgb(47, 48, 58, 0.4), inset 480px 400px 50px 50px rgb(47, 48, 58, 0.4);
    width: auto;
    height: 400px;
    justify-content: center;
  
  @media /* only for retina displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
      .logo_background {
          background-image: url("../images/header-mobile@2");
      }
  
    @media screen and (min-width: 768px) {
    background-image: url("../images/Headertablet.jpg");
    
    @media /* only for retina displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
      .logo_background {
          background-image: url("../images/Headertablet@2x");
      }
    }
  }
    @media screen and (min-width: 1200px) {
      background-image: url("../images/Imgb.jpg");
      height: 600px;
      @media /* only for retina displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
      .logo_background {
          background-image: url("../images/imgb@2x");
      }
    }
     }
    }
  }
  

    

    .section-banner__heading {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .section-banner__title-banner {
      color: var(--white);
      font-size: 26px;
      font-weight: 900;
      width: 365px;
      letter-spacing: 0.06em;
      text-align: center;
      display: flex;
      margin: 0px;
      margin-bottom: 30px;
      @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 696px;
      }
       }