.section-banner {
    margin: 0, auto;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2F303A66;
    background-image: url("../images/header-mobilex1.jpg");
    object-fit: cover;
    background-size: 100% 100%;
    box-shadow: inset 50px 50px 50px 50px rgb(47, 48, 58, 0.4), inset 480px 400px 50px 50px rgb(47, 48, 58, 0.4);
    width: auto;
    height: 400px;
    justify-content: center;
  }
    .section-banner__heading {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .section-banner__title-banner {
      color: var(--white);
      font-size: 26px;
      font-weight: 900;
      width: auto;
      letter-spacing: 0.06em;
      text-align: center;
      display: flex;
      margin: 0px;
      margin-bottom: 30px;
    }