
@media screen and (min-width: 480px) {
  .section2 {
      display: flex;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
      flex-direction: column;
    }
  }

@media screen and (min-width: 1200px) {
.section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 94px;
    
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .section2__list2 {
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .section2__list2 {
    align-items: center;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column
  }
}
  
  .section2__subtitle {
    margin: 0px;
    text-align: center;
    font-weight: 700;
    list-style-type: none;
  }
  @media screen and (min-width: 1200px) {
  .section2__text1 {
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 480px) {
  .section2__text1 {
    margin: 0px;
    margin-top: 10px;
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}